<style>
    .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
</style>
<h3>{{viewTitle}}</h3><br><br>
<div class="center">
<h5>Login As</h5><br>
<h3><a class="btn btn-secondary" href="/login"><i ></i> Teacher</a> 

<a class="btn btn-secondary" href="student/viewresult"><i ></i> Student</a> </h3>
</div>