<style>
    .right {
        float: right;
        font-size: 20pt;
      }

</style>
<div class="center">
<h2>{{viewTitle}} <a class="right" href="/back">Home</a></h2>

<form name="myloginform" action="/login" method="POST" autocomplete="off">
    <table>
        <tr>
            <td>
                User Name
            </td>
            <td>
                <input type="textbox" placeholder="UserName"name="UName" required="required">
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" placeholder="Password"name="Pwd" required="required">
            </td>
        </tr>
        <tr><td></td>
        </tr>
        <tr><td></td>
        </tr>
        <tr><td></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="Submit"></td>
            
        </tr>
    </table>
</div>
</form>