<style>
    .right {
        float: right;
        font-size: 20pt;
      }

</style>
<div class="center">
    <h2><a class="right" href="/back">Home</a></h2>
<h1>{{viewTitle}} 
</h1>
<br>

<form action="/yourresult" method="POST" autocomplete="off">
    <table>
        <tr>
            <td>
                Roll Number
            </td>
            <td>
                <input type="textbox" placeholder="RollNumber"name="RollNo" required="required">
            </td>
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="textbox" placeholder="Name"name="Name" required="required">
            </td>
        </tr>
        <tr><td></td>
        </tr>
        <tr><td></td>
        </tr>
        <tr><td></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="Submit" value="Search"></td>
        </tr>

    </table>
</div>
</form>